<h1>photo詳細画面</h1>
<p>内容: <%= @photo.content %></p>
<p>名前: <%= @photo.user.name %></p>

<p id="notice"><%= notice %></p>


<div>写真</div>
<p><%= image_tag @photo.image.url %></p>


<% unless @photo.user_id == current_user.id %>
<% if @favorite.present? %>
<%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger btn-lg' %>
<% else %>
<%= link_to 'お気に入りする', favorites_path(photo_id: @photo.id), method: :post, class: 'btn btn-primary btn-lg' %>
<% end %>
<% end %>

<%= link_to 'Photoページへ', photos_path, class: "btn btn-dark btn-lg" %>
